<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/property_stocks_card.css" />
    <script src="/scripts/bootstrap/bootstrap.min.js" defer></script>
    <script src="/scripts/bootstrap/jquery.js" defer></script>
    <script src="/scripts/utilities.js" defer></script>
    <script src="/scripts/property.js" defer></script>
    <script src="/scripts/navbar.js" defer></script>
    <title>Property</title>
  </head>
  <body>
    <!-- navbar -->
    <%- include('./partials/navbar') %>

    <div class="container-fluid d-flex flex-column pt-5">
      <!-- header -->
      <div class="row">
        <div class="col custom-header-container">
          <h1 class="header">Property INFO</h1>
          <h3 class="sub-header">
            You can see detailed information about property and its fractions .
          </h3>
        </div>
      </div>

      <!-- content -->
      <div class="row custom-header-container">
        <div class="row container-fluid mb-4">
          <div class="col-lg-5">
            <div class="card custom-card mb-1">
              <div class="card-body text-center">
                <%- include('./partials/propertyImages', { images:
                property.images }) %>
              </div>
            </div>
          </div>
          <div class="col-lg-7 my-auto">
            <div class="card custom-card mb-4">
              <div class="card-body">
                <!-- Name -->
                <div class="row">
                  <div class="col-sm-3">
                    <p class="text-muted mb-0">
                      <span>Name</span>
                    </p>
                  </div>
                  <div class="col-sm-9">
                    <p class="mb-0 bold-text">
                      <span><%- property.name %></span>
                    </p>
                  </div>
                </div>
                <hr class="custom-hr" />

                <!-- Descriptions -->
                <div class="row">
                  <div class="col-sm-3">
                    <p class="text-muted mb-0">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-list me-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          fill-rule="evenodd"
                          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
                        />
                      </svg>
                      <span>Descriptions</span>
                    </p>
                  </div>
                  <div class="col-sm-9">
                    <p class="mb-0 bold-text"><%- property.description %></p>
                  </div>
                </div>
                <hr class="custom-hr" />

                <!-- Price -->
                <div class="row">
                  <div class="col-sm-3">
                    <p class="text-muted mb-0">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-coin me-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"
                        />
                        <path
                          d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                        />
                        <path
                          d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
                        />
                      </svg>
                      <span>Price</span>
                    </p>
                  </div>
                  <div class="col-sm-9">
                    <p class="mb-0 bold-text">
                      <%- property.price.toFixed(2) %>
                      <span class="text-muted">( STX )</span>
                    </p>
                  </div>
                </div>
                <hr class="custom-hr" />

                <!-- Total Stocks available -->
                <div class="row">
                  <div class="col-sm-3">
                    <p class="text-muted mb-0">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-heptagon-half me-2"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M7.779.052a.5.5 0 0 1 .442 0l6.015 2.97a.5.5 0 0 1 .267.34l1.485 6.676a.5.5 0 0 1-.093.415l-4.162 5.354a.5.5 0 0 1-.395.193H4.662a.5.5 0 0 1-.395-.193L.105 10.453a.5.5 0 0 1-.093-.415l1.485-6.676a.5.5 0 0 1 .267-.34L7.779.053zM8 15h3.093l3.868-4.975-1.383-6.212L8 1.058V15z"
                        />
                      </svg>
                      <span>Total&nbsp;fractions</span>
                    </p>
                  </div>
                  <div class="col-sm-9">
                    <p class="mb-0 bold-text"><%- property.fractions %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Stocks Details -->
        <div class="row container-fluid border border-1 rounded-3 mb-3 mx-aut">
          <div class="container py-2">
            <ul class="nav nav-pills p-3 pb-1" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link active"
                  id="pills-home-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-home"
                  type="button"
                  role="tab"
                  aria-controls="pills-home"
                  aria-selected="true"
                >
                  Shareholders
                </button>
              </li>
              <li class="nav-item" role="presentation">
                <button
                  class="nav-link"
                  id="pills-profile-tab"
                  data-bs-toggle="pill"
                  data-bs-target="#pills-profile"
                  type="button"
                  role="tab"
                  aria-controls="pills-profile"
                  aria-selected="false"
                >
                  For sale
                </button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div
                class="tab-pane fade show active"
                id="pills-home"
                role="tabpanel"
                aria-labelledby="pills-home-tab"
              >
                <% if (property.unlistedStocks.length > 0) { %>
                <div class="table-responsive-sm">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Fractions</th>
                        <th>Value</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% property.unlistedStocks.forEach((sh) => { %> 
                        <%- include('./partials/propertyStockCard', { 
                          user: {
                            ...sh.owner, 
                            stocksCount: sh.stocksCount, 
                            stocksValue: (sh.stocksCount * (property.price / property.fractions)).toFixed(2) 
                          } 
                        }) %> 
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                <% } else { %>
                <p class="h5 pb-3 text-muted text-center">No shareholder .</p>
                <% } %>
              </div>

              <div
                class="tab-pane fade"
                id="pills-profile"
                role="tabpanel"
                aria-labelledby="pills-profile-tab"
              >
                <% if (property.listedStocks.length > 0) { %>
                <div class="table-responsive-sm">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>User</th>
                        <th>Fractions</th>
                        <th>Value</th>
                        <th>Purchase</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% property.listedStocks.forEach((sh) => { %> 
                        <%- include('./partials/propertyStockCardForSale', { 
                            user: {
                              ...sh.owner, 
                              stocksCount: sh.stocksCount, 
                              stocksValue: (sh.stocksCount * (property.price / property.fractions)).toFixed(2)
                            }, 
                            stock: { id:
                              sh.stockId 
                            } 
                          }) %>
                      <% }) %>
                    </tbody>
                  </table>
                </div>
                <% } else { %>
                <p class="h5 pb-3 text-muted text-center">Nothing for sale .</p>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
